body,p,ul,form,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
	list-style:none;
}

body,html{
	height:100%;
}

a{
	text-decoration:none;
}

navigation{
	width:100%;
}
	navigation li{
		float:left;
		width:150px;
		padding:10px 0;
		text-align:center;
		border:1px solid #ccc;
	}
		navigation li a{
			color:#000;
		}

main{
	clear:both;
	width:100%;
	height:100%;
}

	#edit{
		height:100%;
	}
		#edit .left{
			width:80%;
			height:100%;
		}
		#edit #preview{
			height:80%;
		}
		#edit #toolbox{
			height:20%;
			width:100%;
			background:#ffff00;
		}
		#edit #timeline{
			float:right;
			background:#ff0000;
			height:100%;
			width:20%;
		}
	
	#preset{
		display:none;
	}
	
	#scenario{
		display:none;
	}

.left{
	float:left;
}
