body,p,ul,form,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
	list-style:none;
}

body,html{
	height:100%;
}

a{
	text-decoration:none;
}

navigation{
	width:100%;
}
	navigation li{
		float:left;
		width:150px;
		padding:10px 0;
		text-align:center;
		border:1px solid #ccc;
	}
		navigation li a{
			color:#000;
		}

main{
	/*
	@review - fe
	clear:both;의 의미는 뭐고 왜 사용하지?
	*/
	clear:both;
	width:100%;
	height:100%;
}

	#edit{
		height:100%;
	}
		#edit .left{
			width:73%;
			height:91%;
		}
		#edit #preview{
			height:73%;
			width: 100%;
			border: 1px solid black;

		}
		
		#edit #toolbox{
			text-align: center;
			height:36.5%;
			width:100%;
			border: 1px solid black;
		}


		#edit #timeline{
			/*
			@review - fe
			CSS도 순서를 정해서 쓰는게 좀 일반적인데 컨벤션을 맞추면 좋을 것 어떻게 생각해?
			http://webdesign.tutsplus.com/articles/outside-in-ordering-css-properties-by-importance--cms-21685
			*/
			float:right;
			text-align: center;
			background:white;
			border: 1px solid black;
			height:100%;
			width:26.8%;
			overflow: scroll;

		}

			#edit #timeline li{
				text-align: center;
				border:1px solid #ccc;
				margin: 0px auto;
			}

				#edit #timeline li.block{
					width: 90%;
					padding:10px;
				}

				#edit #timeline li.block.selected{
					background:#eee;
				}

	
	#preset{
		display:none;
	}
	
	#scenario{
		display:none;
	}

.left{
	float:left;
}

img{

	margin: 10px auto;
	display: block;

}