main {
	position: relative;
	width: 640px;
	height: 480px;
	margin: 0 auto;
}

div.layer {
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
}

div#layer-bg {
	z-index: 1;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

div#layer-obj {
	z-index: 10;
}

div#layer-obj .character {
	position: absolute;
	background-repeat: no-repeat;
	background-size: 100%;
	width:30%;
}

div#layer-text {
	top: auto;
	bottom: 0px;
	z-index: 1000;
	width: 100%;
	height: 30%;
	padding: 20px;
	background: rgba(0,0,0,0.5);
	box-sizing:border-box;
	color:#fff;
}
	div#layer-text .character-name{
		position: absolute;
		height: 20px;
		padding: 5px 20px;
		top: -20px;
		background: #000;
		color: #fff;
	}